{% extends 'base.html' %}

{% block container %}
    <main class="container mt-3">
        <div class="card my-4 mx-auto">
            <div class="card-body m-2 m-md-4">
                <article class="row">
                    <div class="col-5"><img src="{{ profile.picture }}" class="img-fluid" alt=""></div>
                    <div class="col-7">

                        <section class="teacher=info">

                            <h1 class="h2">{{ profile.name }}</h1>
                            <p>{% for i in profile.goals %}<span
                                    class="badge badge-secondary mr-2">{{ goals[i] }} </span>{% endfor %}
                                Рейтинг: {{ profile.rating }}
                                Ставка: {{ profile.price }}
                                / час</p>
                            <p>{{ profile.about }}</p>

                        </section>

                        <section class="available">
                            <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>
                            {% for day,data in profile.free.items() %}
                            <h6 class="mt-4">
                                {% if day=="mon" %}Понедельник
                                {% elif day=="tue" %}Вторник
                                {% elif day=="wed" %}Среда
                                {% elif day=="thu" %}Четверг
                                {% elif day=="fri" %}Пятница
                                {% elif day=="sat" %}Суббота
                                {% else %}Воскресенье
                                {% endif %}
                            </h6>
                                {% if True in data.values() %}
                                    {% for time,free in data.items() %}
                                        {% if free %}
                                        <a href="/booking/{{ profile.id }}/{{ day }}/{{ time }}" class="btn btn-outline-success  mr-2">{{ time }}</a>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <p>Нет свободных уроков</p>
                                {% endif %}
                            {% endfor %}
                        </section>
                    </div>
                </article>
            </div>
        </div>
    </main>

{% endblock %}